@{
    ViewBag.Title = "Contact";
}

<h3>Виконали:</h3>
<font size="5">
    <address>
        Лаціна Руслан<br />
        Полторак Ігор<br />
        група ІС-33, ФІОТ <br />
    </address>
</font>



<h2> Інформаційна система для волонтерів </h2>

